<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comments">
	
	<select id="getList" parameterType="int" resultType="commentDto">
		SELECT num, comment_db.usercode, content, target_code, ref_group, comment_group, deleted, comment_db.regdate, users_db.id, users_db.nickname
		FROM comment_db INNER JOIN users_db
		ON comment_db.usercode = users_db.usercode
		WHERE ref_group = #{ref_group}
		ORDER BY comment_group DESC, comment_db.regdate
	</select>
	
	<insert id="insert" parameterType="commentDto">
		INSERT INTO comment_db
		(num, usercode, content, target_code, ref_group, comment_group, regdate)
		VALUES (#{num}, #{usercode}, #{content}, #{target_code}, #{ref_group}, #{comment_group}, SYSDATE)
	</insert>

	<select id="getSequence" resultType="int">
		SELECT comment_seq.NEXTVAL
		FROM dual
	</select>
	
	<delete id="delete" parameterType="int">
		UPDATE comment_db
		SET deleted='yes'
		WHERE num=#{num}
	</delete>
	
	<delete id="deleteAll" parameterType="int">
		DELETE comment_db
		WHERE ref_group= #{ref_group}
	</delete>
</mapper>