<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
	
	<select id="getList" parameterType="postDto" resultType="postDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM AS rnum
		FROM (SELECT num, usercode, content, image, video, regdate, like_count, savefilename, filesize
		FROM post_db
		ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<insert id="insert" parameterType="postDto" >
		INSERT INTO post_db
		(num, usercode, content, image, regdate, saveFileName, fileSize)
		VALUES(post_seq.NEXTVAL, #{usercode}, #{content}, #{image}, SYSDATE, #{saveFileName},#{fileSize})
	</insert>
	
	<select id="getCount" parameterType="PostDto" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0) AS num
		FROM post_db
	</select>
	
</mapper>