<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
	
	<select id="getList" parameterType="postDto" resultType="postDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM AS rnum, users_db.nickname, users_db.id, users_db.profile_img
		FROM (SELECT num, usercode, content, image, video, regdate, like_count, savefilename, filesize
		FROM post_db
		ORDER BY post_db.num DESC) 
		result1 INNER JOIN users_db
		ON result1.usercode = users_db.usercode)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getMyPostList" parameterType="int" resultType="postDto">
		SELECT *
		FROM (SELECT result1.*, ROWNUM AS rnum, users_db.nickname, users_db.id, users_db.profile_img
		FROM (SELECT num, usercode, content, image, video, regdate, like_count, savefilename, filesize
		FROM post_db
		ORDER BY post_db.num DESC) 
		result1 INNER JOIN users_db
		ON result1.usercode = users_db.usercode)
		WHERE usercode = #{usercode}
	</select>
	
	<insert id="insert" parameterType="postDto" >
		INSERT INTO post_db
		(num, usercode, content, image, regdate, saveFileName, fileSize)
		VALUES(post_seq.NEXTVAL, #{usercode}, #{content}, #{image}, SYSDATE, #{saveFileName},#{fileSize})
	</insert>
	
	<select id="getCount" parameterType="int" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0) AS num
		FROM post_db
		WHERE usercode = #{usercode}
	</select>
		<delete id="delete" parameterType="int">
		DELETE FROM post_db
		WHERE num = #{num}
	</delete>
	
	<select id="getData" parameterType="int" resultType="postDto">
		SELECT num, post_db.usercode, content, image, video, post_db.regdate, like_count, savefilename, users_db.id, users_db.profile_img, users_db.nickname
		FROM post_db inner join users_db on post_db.usercode = users_db.usercode 
		WHERE num = #{num}
	</select>
	
	<update id="increaseLikeCount" parameterType="int">
		UPDATE post_db
		SET like_count = like_count + 1
		WHERE num = #{num}
		
	</update>
	
	<update id="decreaseLikeCount" parameterType="int">
		UPDATE post_db
		SET like_count = like_count - 1
		WHERE num = #{num}
		
	</update>
	
</mapper>