<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userdb">
	
	<select id="getData" parameterType="String" resultType="UsersDto">
		SELECT usercode, id, nickname, banned, email, pw, regdate, reported, dob, dm_range, acc_private, theme, profile_img
		FROM users_db
		WHERE id = #{id}
	</select>
	
	<insert id="insert" parameterType="UsersDto" >
		INSERT users_db
		(usercode,id,nickname,banned,email,pw,regdate,reported,dob,dm_range,acc_private,theme,profile_img)
		VALUES(usercode_seq.NEXTVAL, id=#{id}, nickname=#{nickname}, email=#{email}, pw=#{pw}, SYSDATE, dob=#{dob})
	</insert>
	
		
</mapper>