<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	
	<select id="getData" parameterType="String" resultType="UsersDto">
		SELECT usercode, id, nickname, banned, email, pw, regdate, reported, dob, dm_range, acc_private, theme, profile_img
		FROM users_db
		WHERE id = #{id}
	</select>
	
	<select id="getSimpleData" parameterType="usersDto" resultType="usersDto">
		SELECT usercode, id, nickname, acc_private, profile_img
		FROM users_db
	</select>
	
	<insert id="insert" parameterType="usersDto" >
		INSERT INTO users_db
		(usercode, id, nickname, pw, email, regdate)
		VALUES(usercode_seq.NEXTVAL, #{id}, #{nickname},#{pw}, #{email}, SYSDATE)
	</insert>
	
	<select id="getPwdHash" parameterType="String" resultType="String">
		SELECT pw
		FROM users_db
		WHERE id = #{id}
	</select>
	
	<select id="updateProfileImg" parameterType="UsersDto">
		UPDATE users_db
		SET profile_img = #{profile_img}
		WHERE id = #{id}
	</select>

	<select id="idCheck" parameterType="String" resultType="int" >
		SELECT COUNT(id)
		FROM users_db
		WHERE id = #{inputId}
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE FROM users_db
		WHERE id =#{id}
	</delete>
	
	<update id="updatePwd" parameterType="UsersDto">
		UPDATE users_db
		SET pw = #{pw}
		WHERE id = #{id}
	</update>
	
	<update id="update" parameterType="UsersDto">
		UPDATE users_db
		SET pw = #{pw}
		WHERE id = #{id}
	</update>

</mapper>