<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">
	
	<select id="getData" parameterType="String" resultType="UsersDto">
		SELECT usercode, id, nickname, banned, email, pw, regdate, reported, dob, dm_range, acc_private, theme, profile_img
		FROM users_db
		WHERE id = #{id}
	</select>
	
	<insert id="insert" parameterType="UsersDto" >

		INSERT INTO users_db
		(usercode, id, nickname, pw, email, regdate)
		VALUES(usercode_seq.NEXTVAL, #{id}, #{nickname},#{pw}, #{email}, SYSDATE)
	</insert>
	
	<select id="getPwdHash" parameterType="String" resultType="String">
		SELECT pw
		FROM users_db
		WHERE id = #{id}
	</select>

</mapper>