@import url('https://fonts.googleapis.com/css?family=Pacifico|Noto+Sans+KR:400,700&display=swap');

@import 'variable';
@import 'mixin';
@import 'reset';

a{
	color: $main-color;
	text-decoration: none;
	&:hover,
	&:active{
		color: darken($main-color,.2);
	}
}

p{
	line-height: 1.5rem;
}

.container{
	width: $lg;
	margin: auto;
	&-full{
		width: 100%;
	}
	@media screen and (max-width: $lg){
		width: 90%;
	}
}

[role="button"], button, .btn{
	outline: 0;
	@include btn($color: $main-color);
	&.reversed{
		@include btn($bg: $main-color, $color: $white);
	}
	@include likeBootstrap();
}

.cover{
	position: fixed;
	top:$header-height;
	left:0;
	width: 100%;
	height: calc(100% - #{$header-height});
	z-index: 2;
	@media screen and (max-width:$md){
		top:$header-mobile-height;
		height: calc(100% - #{$header-mobile-height});
		background: rgba($black, .3);
	}
}

.after-newline:after{
	content: '\a';
	white-space: pre;
}

body{ background: $bg-color; }

input[type="date"],input[type="time"]{font:$main-font}

code{
	display: block;
	padding: 1rem;
	background: lightgrey;
	color: lighten($black, 10%);
	border-radius: 8px;
	@media screen and(max-width: $md){
		padding: calc(1.5rem/2);
	}
}

// Those scss files forked by Bootstrap 4.3.1
// Copyright 2011-2019 The Bootstrap Authors
// Copyright 2011-2019 Twitter, Inc.
// Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)

@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/buttons';
@import 'bootstrap/button-group';
@import 'bootstrap/forms';
@import 'bootstrap/forms_mixin';
@import 'bootstrap/glyphicons';

.form{
	&-group{
		label{
			font-weight: bold;
			line-height: 2rem;
		}
	}
	&-control{
		width: 100%;
		box-sizing: border-box;
	}
	&-check-input{
		position: inherit;
		margin: 0;
	}
}

.glyphicon--is-themed{
	@extend .glyphicon;
	&:before{
		color: $main-color;
	}
}
.glyphicon{
	z-index:0;
	&--is-flip{
		-moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
	}
}

