header{
	position:sticky;
	top: 0;
	height: $header-height;
	min-height: $header-mobile-height;
	background: $white;
	box-shadow: 0 1px 2px rgba($black,.15);
	// background: linear-gradient(
	// 	$main-color, desaturate($main-color, 20%)
	// 	);
	color: $white;
	z-index: 999;
	@media screen and(max-width:$sm){
		height:$header-mobile-height
	}
	& > .container{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		@include flexbox();
	}
}

.header{
	#logo{
		// background-image: url('../images/acorn@2x.png');
		// background-size: contain;
		// background-repeat: no-repeat;
		// background-position: center center;
		// @media screen and (max-width:$md){
		// 	background-image: url('../images/acorn@3x.png');
		// }
		a{
			font-family: 'Pacifico', cursive;
			color: $main-color;
		}
		img{
			width: 3rem;
			height:auto;
		}
	}
	&__right{
		@include flexbox();
	}

	&__signin{
		&>label{
			//	로그인 버튼
			display: inline-block;
			width: 160px;
			height: 48px;
			line-height: 48px;
			vertical-align: middle;
			border-radius: 8px;
			text-align: center;
			font-size: 1.14rem;
			font-weight: bold;
			box-sizing: border-box;
			@include btn($bg:$white, $color:$main-color);
			@media screen and (max-width: $sm){
				width: 30vw;
				height: 40px;
				line-height: 40px;
			}
		}
		input.toggler{
			display: none;
		}
		&-form{
			display: none;
			top: $header-height;
			right: 0;
			padding: 16px;
			width: 360px;
			@include menu();
			@media screen and (max-width: $md){
				width: 100%;
			}
			input:checked ~ &{
				display: block;
				position: absolute;
			}
		}
		input:checked+label{
			background: $white;
			color: $main-color;
			&:hover{
				background: $main-color;
				color: $white;
			}
		}
		.signin{
			&__label{
				color: $main-color;
			}
			&__button{
				width: 100%;
				padding: 8px;
				box-sizing: border-box;
				font-weight: bold;
				font-size: 1.2rem;
			}
		}
	}

	&__writepost button{
		display: inline-block;
		width: 160px;
		height: $icon-size;
		line-height: $icon-size;
		vertical-align: middle;
		border-radius: 8px;
		text-align: center;
		font-size: 1.14rem;
		font-weight: bold;
		box-sizing: border-box;
		@include btn($bg:$white, $color:$main-color);
		@media screen and (max-width: $md){
			width: $icon-size;
			span{display: none;}
		}
	}

	&__user-info{
		width: 160px;
		@media screen and (max-width: $md){
			width: 48px;
		}
		&>button{
			width: $icon-size;
			height: $icon-size;
			margin-right: 2vw;
			background: none;
			border-radius: 300px;
			overflow: hidden;
			border:0;
		}
	}
}

.msg{
	position: absolute;
	width: 100%;
	padding: 1rem;
	box-shadow: 0 1px 2px rgba($black,.15);
	box-sizing: border-box;
	background: rgba($white, .7);
	font-family: $main-font;
	opacity: 0;
	@include fadeInOut($duration: 5s);
}

@import 'user_menu';
