@mixin flexbox($align:row, $wrap:no-wrap, $horizen:space-between, $vertical: center, $flex-mode: flex){
	display: $flex-mode;
	flex-direction: $align;
	flex-wrap: $wrap;
	justify-content: $horizen;
	align-content: $vertical;
}

@mixin btn($bg: $white, $color:$main-color){
	background: $bg;
	color: $color;
	border: 1px solid $color;
	border-radius: 4px;
	box-sizing: border-box;
	transition: all .05s ease;
	&:hover{
		background: $color;
		color: $bg;
		border-color: $bg;
	}
	&:active{
		background: darken($color, 15%);
		border-color: $bg;
	}
}

@mixin menu(){
	background: $white;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba($black,.3);
	box-sizing: border-box;
}

@mixin bordered-box ($padding: 1.2rem){
	padding: $padding;
	border: 1px solid #aaa;
	background: $white;
	border-radius: 8px;
}

@mixin material-box ($bg: #fff) {
	border-radius: 8px;
	background: $bg;
	box-shadow: 0 2px 4px rgba($black, .3);
}

@mixin likeBootstrap(){

	$bootstrap-colors: $primary, $success, $warning, $danger;

	@each $color-type in $bootstrap-colors {
		$color : '$' + $color-type;
	
		&[class*="#{$color-type}"]{
			background: $color;
			color: $white;
		}
	}

}
