// color variable

$black: #2f2f2f;
$white: #fff;

$main-color: #742C09;
$sub-color: lighten($main-color, .3);

$like-color: #FA040D;

//	size variable

$xs: 360px;
$sm: 480px;
$md: 720px;
$xm: 960px;
$lg: 1200px;

//	font 

$main-font: -apple-system,BlinkMacSystemFont,'Noto Sans KR', sans-serif;
$logo-font: 'Pacifico', cursive;

$icon-font-path: '../fonts/';
$icon-font-name: 'glyphicons-halflings-regular';

//	layout
$header-height: 8vh;
$header-mobile-height: 64px;
$footer-height: 10vh;
$footer-mobile-height: 96px;

