// color variable

$black: #000;
$white: #fff;

$main-color: #603CC2;
$sub-color: lighten($main-color, .3);

$like-color: #FA040D;

//	size variable

$sm: 480px;
$md: 684px;
$lg: 900px;
