// color variable

$black: #2f2f2f;
$white: #fff;

$main-color: #742C09;
$sub-color: lighten($main-color, .3);

$like-color: #FA040D;

$primary: #1F88F6;
$success: #429C42;
$warning: #ECAC04;
$danger: #CD3230;

$bg-color: #f0f0f0;

//	size variable

$xs: 360px;
$sm: 480px;
$md: 720px;
$xm: 960px;
$lg: 1200px;

$icon-size: 48px;

$common-margin: 1.5rem;

//	font 

$main-font: -apple-system,BlinkMacSystemFont,'Noto Sans KR', sans-serif;
$logo-font: 'Pacifico', cursive;

$icon-font-path: '../fonts/';
$icon-font-name: 'glyphicons-halflings-regular';

$font-size: 1rem;

//	layout
$header-height: 8vh;
$header-mobile-height: 64px;
$footer-height: 10vh;
$footer-mobile-height: 96px;


//	animation
@keyframes fadeInOut{
	0%, 100%{
		opacity: 0;
		z-index: -1;
	}
	10%, 90%{
		opacity: 1;
		z-index: 1;
	}
}
